.app {
  font-family: Roboto;

  > header {
    padding: 2rem;
    background-color: #bad1cf;

    > h1 {
      color: #828586;
    }
  }
}

.action-bar {
  display: flex;
  flex-direction: row;
}

.column-container {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
